:root {
  --font-family: Helvetica, Arial, sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-brand: #79736d;
  --color-transparent: transparent;
  --color-gray: #AAAAAA;
  --color-gray2: #f3f4f6;
  --color-gray3: #cccccc;
  --color-gray4: #f3f2f2;
  --color-gray5: #c2bfbc;
  --color-gray6: #e5e7eb;
  --color-gray7: #171717;
  --color-gray8: #d1d5db;
  --color-gray9: #f9fafb;

  --color-red: #ef4444;

  --color-background: #ffffff;

  --wrapper: 1920px;
  --inner-wrapper: 1200px;

  --padding-x-wrapper: 100px;
  --padding-x-wrapper-tablet: 40px;
  --padding-x-wrapper-mobile: 16px;

  --section-inner-padding: 150px;
  --section-inner-padding-tablet: 88px;

  --animation-timer: 0.3s;
}
