// Text utilities

// Aspect ratio utilities
.u-aspect-square {
  aspect-ratio: 1 / 1;
}

// Width and height utilities

.w-150 {
  width: 48px;
}

.w-48 {
  width: 48px;
}

.w-262 {
  width: 262px;
}

.h-324 {
  height: 324px;
}
.h-64 {
  height: 64px;
}
.h-18 {
  height: 18px;
}

// Margin utilities

.mb-6 {
  margin-bottom: 6px;
}
